<h2>Sports Team Player Division Organizer!</h2>

<h4>@Html.ActionLink("View Teams", "../Teams")</h4>
<br />
<h4>@Html.ActionLink("View Players", "Index", "Players")</h4>
<br />
<h4>@Html.ActionLink("View Sports", "../Sports")</h4>
<br />
<h4>@Html.ActionLink("View Divisions", "Divisions")</h4>